@use "src/assets/utils" as *;

.Info {
  &__data {
    display: flex;
    flex-wrap: wrap;

    .InfoItem {
      width: 50%;
    }
  }

  ul {
    margin-bottom: 2rem;
    li {
      font-size: 0.85rem;

      a {
        text-decoration: none;
        color: $c-primary;
        transition: color 0.1s ease-in;

        &:hover {
          color: $c-text;
        }
      }

      + li {
        margin-top: 0.5rem;
      }
    }
  }

  &__repos {
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: 50%;
      margin-bottom: 1rem;

      p {
        font-weight: 700;
        margin-bottom: 0.5rem;
        font-size: 0.85rem;
      }

      .Button {
        font-size: 0.75rem;
      }
    }
  }
}
